/* @import "../abstracts/variables";
@import "../base/colores";

%header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 120px;
    color: #007A78;
    font-size: 18px;
    gap: 34rem;
}

%nav-list{
    list-style: none;
    display: flex;
    gap: 2rem;
}

%nav-a{
    text-decoration: none;
    color: $verde-prin;
}

%section-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 450px;
    background-color: $verde-sec;
}

%section-hero-img{
    width: 550px;
    align-self: center;
    box-shadow: 3px 3px $fondo-prin;
    border-radius: 8px;
}

%section-hero-p{
    font-size: 25px;
    font-family: $font-p;
    align-self: center;
    color: white;
}

%section-hero-span{
    background-color: $verde-prin;
    padding: 8px;
    display: inline-block;
    margin-top: 15px;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px $verde-sec;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%footer{
    background-color: $obscuro;
    height: 300px;
    color: $verde-prin;

    &__article{
        padding: 30px;
        font-size: 22px;
        font-weight: bolder;

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }
    }
}

%footer-col{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__col{

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }

        &__ul{
            
            &__li{
                list-style: none;
            }
        }
    }
} */