@import "../abstracts/variables";
@import "../base/colores";


%section-hero-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    height: 50px;
    background-color: $verde-sec;
}

%section-hero-img-index{
    width: 90%;
    align-self: center;
    align-content: flex-end;
    align-items: flex-end;
    box-shadow: 3px 3px $verde-prin;
    border-radius: 8px;
    margin-left: 4rem;
}

%section-hero-p-index{
    font-size: 4vh;
    font-family: $font-p;
    align-self: center;
    color: white;
}

%section-hero-span-index{
    background-color: $verde-prin;
    padding: 8px;
    display: inline-block;
    margin-top: 15px;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px $verde-sec;
    cursor: pointer;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%footer{
    background-color: $obscuro;
    height: 300px;
    color: $verde-prin;

    &__article{
        padding: 30px;
        font-size: 22px;
        font-weight: bolder;

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }
    }
}

%footer-col{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__col{

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }

        &__ul{
            
            &__li{
                list-style: none;
            }
        }
    }
}