@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* @media only screen and (max-width: 320px){
    
    * {
        text-align: center;
    }

    .div-header{
        display: inline-block;
        font-size: 14px;

        h1{
            font-size: 28px;
            margin-bottom: 0.8rem;
            margin-top: 1rem;
        }
    }

    .nav__list{
        justify-content: center;
    }

    #grilla{
        display: flex;
        flex-direction: column;
        grid-row-gap: 10px;
    }

    .hero{
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 200px;
        text-align: center;

        &__img{
            display: none;
        }

        &__p{
            font-size: 22px;
        }
    }

    .productos{

        &__img{
            display: none;
        }
        &__p{
            font-size: 18px;
        }
    }

    .beneficios{

        &__img{
            display: none;
        }
        &__p{
            font-size: 18px;
        }
    }

    .footer{
    
        &__article{
            padding: 15px;
    
            &__h3{
                margin-bottom: 0px;
            }
        }
    }

    .footer-col{
        justify-content: space-between;
        padding: 15px;
    
        &__col{
    
            &__h3{
                margin-bottom: 8px;
                font-size: 18px;
                text-align: center;
            }
    
            &__ul{
                padding: 0.1rem;
                margin-bottom: 0.6rem;

                &__li{
                    list-style: none;
                }
            }
        }
    }

}

@media only screen and (min-width: 321px) and (max-width: 425px) {
    body{
        background-color: bisque;
    }

    .div-header{
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        gap: 0rem;
        width: 100%;
        padding: 5px;
        height: 90px;
    }

    .hero{
        padding: 5px;
        height: 200px;
    
        &__img{
            width: 200px;
        }
    
        &__p{
            font-size: 14px;
    
            &__span{
                padding: 5px;
                margin-top: 7px;
            }
        }
    }
    #grilla{
        grid-template-rows: 70px 220px 220px 220px 0px; 
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-template-areas: 
        "header"
        "hero"
        "beneficios"
        "productos"
        "footer";
    }

    .beneficios{
        gap: 1rem;
        padding: 5px;
        height: 230px;
        background-color: bisque;
    
        &__img{
            width: 170px;
        }
    
        &__p{
            font-size: 12px;
    
            &__span{
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
                font-size: 10px;
            }
        }
    }

    .productos{
        gap: 1rem;
        padding: 5px;
        height: 230px;
        background-color: bisque;
    
        &__img{
            width: 170px;
        }
    
        &__p{
            font-size: 12px;
    
            &__span{
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
                font-size: 10px;
            }
        }
    }

    .footer{
        background-color: bisque;
        height: 120px;
        color: #2B3440;
    
        &__article{
            padding: 5px;
    
            &__h3{
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
    
    .footer-col{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    
        &__col{
            justify-content: space-around;
    
            &__h3{
                margin-bottom: 4px;
                font-size: 12px;
            }
    
            &__ul{
    
                &__li{
                    list-style: none;
                    font-size: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    body{
        background-color: rgb(248, 206, 155);
    }

    .div-header{
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        gap: 0rem;
        width: 100%;
        padding: 20px;
        height: 90px;
    }

    .hero{
        padding: 20px;
        height: 315px;
    
        &__img{
            width: 300px;
        }
    
        &__p{
            font-size: 20px;
    
            &__span{
                padding: 6px;
                margin-top: 7px;
            }
        }
    }
    #grilla{
        grid-template-rows: 70px 290px 220px 220px 0px; 
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
        grid-template-areas: 
        "header"
        "hero"
        "beneficios"
        "productos"
        "footer";
    }

    .beneficios{
        gap: 1rem;
        padding: 5px;
        height: 230px;
        background-color: bisque;
        border: none;
    
        &__img{
            width: 220px;
        }
    
        &__p{
            font-size: 18spx;
    
            &__span{
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }

    .productos{
        gap: 1rem;
        padding: 5px;
        height: 230px;
        background-color: bisque;
        border: none;
    
        &__img{
            width: 220px;
        }
    
        &__p{
            font-size: 18spx;
    
            &__span{
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }

    .footer{
        background-color: bisque;
        height: 120px;
        color: #2B3440;
    
        &__article{
            padding: 5px;
    
            &__h3{
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
    
    .footer-col{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    
        &__col{
            justify-content: space-around;
    
            &__h3{
                margin-bottom: 4px;
                font-size: 12px;
            }
    
            &__ul{
    
                &__li{
                    list-style: none;
                    font-size: 10px;
                }
            }
        }
    }
}

 */
.div-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #668C4A;
  font-family: "Roboto", sans-serif;
}

.nav-icon {
  height: 28px;
  opacity: 0.7;
  color: #668C4A;
}

.mi-navbar {
  background-color: #F2F1D5;
}

.mi-navbar__brand {
  font-size: 32px !important;
  color: #668C4A !important;
  font-family: "Roboto", sans-serif !important;
}

@media screen and (max-width: 425px) {
  .mi-navbar__brand {
    font-size: 22px;
    color: #B1B0AC;
  }
}

.mi-navbar__nav__item {
  font-size: 20px;
  font-family: "Roboto", sans-serif !important;
}

.mi-navbar__nav__item:hover {
  background-color: #FFFFFF;
  border-radius: 25px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer__article {
  padding: 30px;
  font-size: 22px;
  font-weight: bolder;
}

.footer__article__h3 {
  margin-bottom: 8px;
  font-size: 26px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.footer-col__col__h3 {
  margin-bottom: 8px;
  font-size: 22px;
}

.footer-col__col__ul__li {
  list-style: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

@media screen and (max-width: 425px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.hero__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #668C4A;
          box-shadow: 3px 3px #668C4A;
  border-radius: 8px;
}

@media screen and (max-width: 425px) {
  .hero__img {
    display: none;
  }
}

.hero__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__p__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.div-hero1 {
  background-color: red;
}

#beneficios {
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  #beneficios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  border: none;
}

.beneficios__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #668C4A;
          box-shadow: 3px 3px #668C4A;
  border-radius: 8px;
}

@media screen and (max-width: 425px) {
  .beneficios__img {
    display: none;
  }
}

.beneficios__p {
  font-size: 20px;
}

.beneficios__p__span {
  padding: 2px;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  padding: 25px;
  height: 400px;
  border-top: none;
}

@media screen and (max-width: 425px) {
  .productos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.productos__img {
  width: 550px;
  -webkit-box-shadow: 3px 3px #668C4A;
          box-shadow: 3px 3px #668C4A;
  border-radius: 8px;
}

@media screen and (max-width: 425px) {
  .productos__img {
    display: none;
  }
}

.productos__p {
  font-size: 20px;
}

.productos__p__span {
  padding: 2px;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
}

@media screen and (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .footer-col {
    padding: 0rem;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.hero {
  height: 500px;
}

.hero__shop__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__shop__div__h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  color: white;
}

.hero__shop__img {
  margin-left: 5rem;
}

.div-productos {
  height: 500px;
  border: none;
}

.div-productos__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 25px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-productos__shop__img {
  width: 300px;
  -webkit-box-shadow: 3px 3px grey;
          box-shadow: 3px 3px grey;
  border-radius: 8px;
}

.div-productos__shop__p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.div-productos__shop__span {
  font-size: 24px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

.div-beneficios {
  height: 500px;
  border: none;
}

.div-beneficios__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 25px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-beneficios__shop__img {
  width: 300px;
  -webkit-box-shadow: 3px 3px grey;
          box-shadow: 3px 3px grey;
  border-radius: 8px;
}

.div-beneficios__shop__p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.div-beneficios__shop__span {
  font-size: 24px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

.footer-col__col__ul {
  padding-left: 0rem;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.hero {
  height: 500px;
}

.hero__about__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__about__div__h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  color: white;
  margin-bottom: 2rem;
}

.hero__about__img {
  margin-left: 25rem;
}

.about {
  height: 700px;
}

.about__h2 {
  margin-top: 70px;
}

.about__cont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__cont__p {
  text-align: center;
  width: 100%;
}

.about-benefits {
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-benefits__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
}

.about-benefits__div__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-benefits__div__text__p {
  width: 100%;
}

.footer-col__col__ul {
  padding-left: 0rem;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.hero {
  height: 500px;
}

.hero__review__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__review__div__h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  color: white;
  margin-bottom: 2rem;
}

.hero__review__img__img {
  height: 290px;
}

.review {
  height: 55vh;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 3rem;
  border-bottom: none;
}

.review__cont {
  text-align: center;
}

.review__cont__img {
  width: 50%;
}

.review__cont__p {
  text-align: center;
  width: 100%;
}

.review__testi {
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__testi__cont {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__testi__cont__img {
  width: 800px;
}

.footer-col__col__ul {
  padding-left: 0rem;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.footer-up {
  border-top: none;
  padding-top: 1.5rem;
  height: 80vh;
  width: 100%;
}

.footer-up__h2 {
  text-align: center;
  font-size: 60px;
  color: #A6BE4B;
}

.footer-up__img {
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 5.5rem;
  width: 85%;
}

.footer-mid {
  background-color: #B1B0AC;
  border-top: none;
  padding-top: 1.5rem;
  height: 75vh;
  width: 100%;
}

.footer-mid__h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 2rem;
  color: #668C4A;
}

.footer-mid__cont__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mid__cont__row__col {
  border-right: none;
}

.footer-down {
  border-top: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 40vh;
  width: 100%;
}

.footer-down__cont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
  padding: 1rem;
}

.footer-down__cont__div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11rem;
}

.footer-down__cont__div__h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 1rem;
}

.footer-down__img__img {
  padding: 2rem;
  margin-left: 5.5rem;
  width: 60%;
}

.footer-map {
  padding-top: 1rem;
  height: 60vh;
  width: 100%;
  margin-top: 20rem;
}

.footer-map__cont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-bottom: 4rem;
}

.footer-map__cont__map {
  padding-left: 7rem;
}

.footer-map__cont__map__map {
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 5.5rem;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-map__cont__div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11rem;
}

.footer-map__cont__div__h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 1rem;
}

.footer-last {
  margin-top: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background-color: #B1B0AC;
}

.footer-last__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  background-color: #B1B0AC;
}

.card-body {
  background-color: #B1B0AC;
}

.btn-footer {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1D5;
}

/* font-p: 'Festive', cursive; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #007A78;
  font-size: 18px;
  gap: 34rem;
}

.header__a {
  text-decoration: none;
  color: #668C4A;
}

.hero__shop, .hero__about, .hero__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 450px;
  background-color: #A6BE4B;
}

.hero__shop__img, .hero__about__img, .hero__review__img {
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 3px 3px #F2F1D5;
          box-shadow: 3px 3px #F2F1D5;
  border-radius: 8px;
}

.hero__shop__div__p, .hero__about__div__p, .hero__review__div__p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.hero__shop__div__span {
  background-color: #668C4A;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #A6BE4B;
          box-shadow: 3px 3px #A6BE4B;
}

.footer {
  background-color: #B1B0AC;
  height: 300px;
  color: #668C4A;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}
/*# sourceMappingURL=main.css.map */