@import "../abstracts/variables";


.footer{
    background-color: $obscuro;
    height: 300px;
    color: $verde-prin;

    &__article{
        padding: 30px;
        font-size: 22px;
        font-weight: bolder;

        &__h3{
            margin-bottom: 8px;
            font-size: 26px;
            color: $verde-prin;
        }
    }
}

.footer-col{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__col{

        &__h3{
            margin-bottom: 8px;
            font-size: 22px;
        }

        &__ul{

            &__li{
                list-style: none;
            }
        }
    }
}