@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";
@import "../abstracts/responsive";

.mi-navbar{
    background-color: $fondo-prin;

    &__brand{
        font-size: 32px !important;
        color: $verde-prin !important;
        font-family: $font-p !important;
        
        @include movil{
            font-size: 5vh !important;
        }
    }

    &__nav{

        &__item{
            font-size: 20px;
            font-family: $font-p !important;
            &:hover{
                background-color: $verde-sec;
                border-radius: 25px;
                transform: scale(1.1);
                }

            @include movil{
                font-size: 2.5vh;
                text-decoration: white;
                transform: unset;
                }
            }
        }
}

.nav-link:hover{
    color: white !important;
} 

.navbar-light .navbar-nav .nav-link{
    color: $verde-prin;
    font-family: $font-p;

    @include movil{
        &:hover{
            color: white !important;
            border-radius: 25px;
            transform: scale(1.1);
            }
        }
}

.nav-icon{
    height: 40px;
    opacity: 0.7;
    filter: invert(50%) sepia(15%) saturate(1128%) hue-rotate(51deg) brightness(96%) contrast(90%);
}

.navbar-light .navbar-toggler{
    color: $verde-prin;
    border: none;

}

