@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";
@import "../abstracts/responsive";

.navbar-light .navbar-nav .nav-link{
    color: $verde-prin;
    font-family: $font-p;
}

.navbar-light .navbar-toggler{

}

.navbar-light .navbar-toggler-iconº{

}

.nav-icon{
    height: 28px;
    opacity: 0.7;
    color: $verde-prin;
}

.mi-navbar{
    background-color: $fondo-prin;

    &__brand{
        font-size: 32px !important;
        color: $verde-prin !important;
        font-family: $font-p !important;
        
        @include movil{
            font-size: 22px;
            color: $obscuro;
        }
    }

    &__nav{

        &__item{
            font-size: 20px;
            font-family: $font-p !important;
            &:hover{
                background-color: #FFFFFF;
                border-radius: 25px;
                transform: scale(1.1);
                }
            }
        }
}

