@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";

.hero-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 500px;
    background-color: $verde-sec;

    &__div{
        display: flex;
        flex-direction: column;

        &__h2{
            color: white;
        }

        &__p{
            font-size: 4vh;
            font-family: $font-p;
            color: white;
        }
    }

    &__img{

        &__img{
            width: 90%;
            align-self: center;
            align-content: flex-end;
            align-items: flex-end;
            box-shadow: 3px 3px $verde-prin;
            border-radius: 8px;
            margin-left: 4rem;
            }
        }
}

.about{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    &__cont{
        width: 65%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 120px;
        
        
        &__p{
            text-align: center;
            width: 100%;
            
        }
        &__h2{
            color: $verde-prin;
            display: flex;
            justify-content: center;
        }

        &__carousel{
            width: 50%;
            height: 45vh;
        }
    }
}

.about-benefits{
    margin-top: 80px;
    justify-content: center;

    &__div{
        display: flex;
        justify-content: center;
        height: 450px;
        padding: 25px;

        &__text{
            align-self: center;

            &__h2{
            }
            
            &__p{
                width: 100%;
            }
        }
    }
}

.footer{
    @extend %footer;
}

.footer-col{
    @extend %footer-col;

    &__col{

        &__ul{
        padding-left: 0rem;
        }
    }
}











