@import "../abstracts/variables";
@import "../abstracts/placeholders";


.hero{
    height: 500px;

    &__about{
        @extend %section-hero;

        &__div{
            display: flex;
            flex-direction: column;

            &__h2{
                font-size: 25px;
                font-family: $font-p;
                align-self: left;
                color: white;
                margin-bottom: 2rem;
            }

            &__p{
                @extend %section-hero-p;
            }
        }

        &__img{
            @extend %section-hero-img;
            margin-left: 25rem;
        }
    }

}

.about{
    height: 700px;

    &__h2{
        margin-top: 70px;
    }

    &__cont{
        align-self: center;

        &__p{
        text-align: center;
        width: 100%;

        }
    }
}

.about-benefits{
    margin-top: 80px;
    justify-content: center;

    &__div{
        display: flex;
        justify-content: center;
        height: 450px;

        &__text{
            align-self: center;

            &__h2{
            }
            
            &__p{
                width: 100%;
            }
        }
    }
}

.footer{
    @extend %footer;
}

.footer-col{
    @extend %footer-col;

    &__col{

        &__ul{
        padding-left: 0rem;
        }
    }
}











