@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    height: 50px;
    background-color: $verde-sec;

    @include movil{ 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

    &__img{
        width: 90%;
        align-self: center;
        align-content: flex-end;
        align-items: flex-end;
        box-shadow: 3px 3px $verde-prin;
        border-radius: 8px;
        margin-left: 4rem;

        @include movil{ 
            display: none;
        }
    }

    &__p{
        font-size: 4vh;
        font-family: $font-p;
        align-self: center;
        color: white;

        &__span{
            background-color: $verde-prin;
            padding: 8px;
            display: inline-block;
            margin-top: 15px;
            color: white;
            border-radius: 4px;
            box-shadow: 3px 3px $verde-sec;
            cursor: pointer;
        }
    }
}

#beneficios{
    height: 60vh;
    justify-content: center;
    align-items: center;

    @include movil{ 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }
}

.beneficios{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 50px;
    height: 450px;
    border: none;

    &__img{
        width: 70%;
        align-self: center;
        box-shadow: 3px 3px $verde-prin;
        border-radius: 8px;
        padding-left: 0.5rem;
        
        @include movil{ 
            display: none;
        }
    }

    &__p{
        font-size: 4vh;
        padding-left: 4rem;

        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 3vh;
        }
    }
}

.productos{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-items: left;
    padding: 45px;
    height: 400px;
    border-top: none;

    @include movil{ 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }

    &__img{
        width: 70%;
        box-shadow: 3px 3px $verde-prin;
        border-radius: 8px;
        margin-left: 4rem;

        @include movil{ 
            display: none;
        }
    }

    &__p{
        font-size: 4vh;
        padding-left: 1rem;

        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 3vh;
        }
    }
}

.footer{
    background-color: $obscuro;
    height: 300px;
    color: $verde-prin;

    &__article{
        padding: 30px;
        font-size: 22px;
        font-weight: bolder;

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }
    }

    @include movil{ 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }
}

.footer-col{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__col{

        &__h3{
            margin-bottom: 8px;
            font-size: 18px;
        }

        &__ul{
            
            &__li{
                list-style: none;
            }
        }
    }

    @include movil{ 
        padding: 0rem;

        }
}