@import "../abstracts/variables";
@import "../abstracts/placeholders";

#beneficios{
    height: 60vh;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
}

.beneficios{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 25px;
    height: 450px;
    border: none;

    &__img{
        width: 60%;
        align-self: center;
        box-shadow: 3px 3px grey;
        border-radius: 8px;
    }

    &__p{
        font-size: 20px;

        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 16px;
        }
    }
}

.productos{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-items: left;
    padding: 25px;
    height: 400px;
    background-color: #F2F2F2;
    border-top: $border;

    &__img{
        width: 36%;
        box-shadow: 3px 3px grey;
        border-radius: 8px;
    }

    &__p{
        font-size: 20px;

        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 16px;
        }
    }
}