@import "../abstracts/variables";
@import "../abstracts/placeholders";


.hero{
    height: 500px;

    &__review{
        @extend %section-hero;

        &__div{
            display: flex;
            flex-direction: column;

            &__h2{
                font-size: 25px;
                font-family: $font-p;
                align-self: left;
                color: white;
                margin-bottom: 2rem;
            }

            &__p{
                @extend %section-hero-p;
            }
        }

        &__img{
            @extend %section-hero-img;

            &__img{
                height: 290px;
            }
        }
    }

}

.review{
    height: 55vh;
    justify-self: center;
    align-items: baseline;
    padding-top: 3rem;
    border-bottom: none;

    &__cont{
        text-align: center;

        &__img{
            width: 50%;
        }

        &__p{
        text-align: center;
        width: 100%;
        }
    }
}

.review__testi{
    height: 500px;
    align-items: center;

    &__cont{
        justify-content: center;

        &__img{
            width: 800px;
        }
    }
}

.footer{
    @extend %footer;
}

.footer-col{
    @extend %footer-col;

    &__col{

        &__ul{
        padding-left: 0rem;
        }
    }
}


