@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";

.hero-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 500px;
    background-color: $verde-sec;

    &__div{
        display: flex;
        flex-direction: column;

        &__h2{
            color: white;
            }

        &__p{
            font-size: 4vh;
            font-family: $font-p;
            color: white;
            }
        }

    &__img{

        &__img{
            width: 90%;
            align-self: center;
            align-content: flex-end;
            align-items: flex-end;
            box-shadow: 3px 3px $verde-prin;
            border-radius: 8px;
            margin-left: 4rem;
            }
        }
}

.review{
    height: 55vh;
    justify-self: center;
    align-items: baseline;
    padding-top: 3rem;
    border-bottom: none;

    &__cont{
        text-align: center;

        &__img{
            width: 50%;
        }

        &__p{
        text-align: center;
        width: 100%;
        }
    }
}

.review__testi{
    height: 500px;
    align-items: center;

    &__cont{
        justify-content: center;

        &__img{
            width: 800px;
        }
    }
}

.footer{
    @extend %footer;
}

.footer-col{
    @extend %footer-col;

    &__col{

        &__ul{
        padding-left: 0rem;
        }
    }
}


