@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../base/colores";

.hero-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 500px;
    background-color: $verde-sec;

    @include movil{ 
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        height: 57vh;
        padding: 0px;
    }

    &__text{


        @include movil{ 
            transform: scale(0.9);
        }

        &__h2{
            color: white;

            @include movil{ 
                font-size: 4.8vh;
            }
        }
    
        &__p{
        font-size: 4vh;
        font-family: $font-p;
        align-self: center;
        color: white;
    }

    &__span{
        background-color: $verde-prin;
        padding: 8px;
        display: inline-block;
        margin-top: 15px;
        color: white;
        border-radius: 4px;
        box-shadow: 3px 3px $verde-sec;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }

        @include movil{ 
        padding-top: 6px;
        }
    }  
    }

    &__img{

        &__img{
            width: 90%;
            align-self: center;
            align-content: flex-end;
            align-items: flex-end;
            box-shadow: 3px 3px $verde-prin;
            border-radius: 8px;
            margin-left: 4rem;
            
            @include movil{ 
                display: none;
            }
        }
    }
}

.div-cards{
    height: 80vh;
    background-color: white;

    @include movil{ 
        height: 195vh;
    }

    &__h2{
        text-align: center;
        margin-top: 2rem;
        color: $fondo-sec;
    }
}

.mis-cards{
    display: flex;
    justify-content: space-around;
    height: 55vh;
    margin: 2.5rem 0rem;

    @include movil{ 
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
    }

    &__mis-card{

        @include movil{
            background-color: $fondo-sec;
        }
    }

    &__body{
        background-color: white!important;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    &__text{
        text-align: center;
    }

    &__btn{
        background-color: $verde-prin;
        border: $verde-sec;
        &:hover{
            background-color: $verde-sec !important;
            transform: scale(1.1);
        }
    }
}

.mis-cards .card{
    
    @include movil{
        background-color: $fondo-sec;
    }
}

.div-productos{
    height: 500px;
    border: none;

    @include movil{ 
        height: 70vh;
    }

    &__shop{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 50px;
    height: 450px;
    border: none;

    @include movil{ 
        margin-top: 1rem;
    }
    
        &__img{
            width: 70%;
            align-self: center;
            box-shadow: 3px 3px $verde-prin;
            border-radius: 8px;
            padding-left: 0.5rem;

            @include movil{ 
                display: none;
            }
        }
    
        &__p{
            font-size: 2.5vh;
            font-family: $font-p;

            @include movil{ 
                text-align: center;
            }
        }
    
        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 3.2vh; 
            color: $verde-prin;

            @include movil{ 
                text-align: center;
                font-size: 3.5vh;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }
        }
    }
}

.div-beneficios{
    height: 500px;
    border: none;

    @include movil{ 
        height: 68vh;
    }

    &__shop{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 50px;
    height: 450px;
    border: none;

    @include movil{ 
        margin-top: 1rem;
    }
    
        &__img{
            width: 60%;
            align-self: center;
            box-shadow: 3px 3px $verde-prin;
            border-radius: 8px;
            padding-left: 0.5rem;
            margin-left: 15rem;

            @include movil{ 
                display: none;
            }
        }
    
        &__p{
            font-size: 2.5vh;
            font-family: $font-p;

            @include movil{ 
                text-align: center;
            }
        }
    
        &__span{
            padding: 2px;
            display: inline-block;
            margin-top: 5px;
            font-size: 3.2vh;

            @include movil{ 
                text-align: center;
                font-size: 3.5vh;
                margin-bottom: 1rem;
                color: $verde-prin;
            }
        }
    }
}

.footer-last{
    
    @include movil{
        height: 55vh;
    }
}


@media only screen and (max-width: 320px){
    .disapp{
    display: none;
    }
}
