@import "../abstracts/variables";
@import "../abstracts/placeholders";


.header{
    @extend %header;

    &__a{
        @extend %nav-a;
    }
}

.hero{
    height: 500px;

    &__shop{
        @extend %section-hero;

        &__div{
            display: flex;
            flex-direction: column;
    
            &__h2{
                font-size: 25px;
                font-family: $font-p;
                align-self: left;
                color: white;
            }
        
            &__p{
                @extend %section-hero-p;
            }
        
            &__span{
                @extend %section-hero-span;
            }
        }

        &__img{
            @extend %section-hero-img;
            margin-left: 5rem;
    }
    }

}

.div-productos{
    height: 500px;
    border: none;

    &__shop{
        display: flex;
        gap: 5rem;
        padding: 25px;
        height: 500px;
        align-items: center;
    
        &__img{
            width: 300px;
            box-shadow: 3px 3px grey;
            border-radius: 8px;
        }
    
        &__p{
            font-size: 20px;
            font-family: $font-p;
        }
    
        &__span{
            font-size: 24px;
            font-weight: 800;
            font-family: $font-p;
        }
    }
}

.div-beneficios{
    height: 500px;
    border: none;

    &__shop{
        display: flex;
        gap: 5rem;
        padding: 25px;
        height: 500px;
        align-items: center;
    
        &__img{
            width: 300px;
            box-shadow: 3px 3px grey;
            border-radius: 8px;
        }
    
        &__p{
            font-size: 20px;
            font-family: $font-p;
        }
    
        &__span{
            font-size: 24px;
            font-weight: 800;
            font-family: $font-p;
        }
    }
}

.footer{
    @extend %footer;
}

.footer-col{
    @extend %footer-col;

    &__col{

        &__ul{
        padding-left: 0rem;
        }
    }
}